<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <mvc:resources mapping="/admin/*.html" location="/admin/"/>
    <mvc:resources mapping="/admin/css/*.css" location="/admin/css/"/>
    <mvc:resources mapping="/admin/fonts/**" location="/admin/fonts/"/>
    <mvc:resources mapping="/admin/images/**" location="/admin/images/"/>
    <mvc:resources mapping="/admin/js/*.js" location="/admin/js/"/>
    <mvc:resources mapping="/admin/lib/**" location="/admin/lib/"/>
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.GsonHttpMessageConverter">
                <property name="gson">
                    <bean class="org.springframework.http.converter.json.GsonFactoryBean">
                        <property name="dateFormatPattern" value="yyyy-MM-dd HH:mm:ss"/>
                    </bean>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
</beans>