<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.hibiki.system.mapper.OrganiztionMapper">
  <resultMap id="BaseResultMap" type="me.hibiki.system.domain.Organiztion">
    <!--@mbg.generated-->
    <!--@Table system_organiztion-->
    <id column="organization_id" jdbcType="INTEGER" property="organizationId" />
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    <result column="organization_number" jdbcType="VARCHAR" property="organizationNumber" />
    <result column="organiztion_pid" jdbcType="INTEGER" property="organiztionPid" />
    <result column="organiztion_status" jdbcType="VARCHAR" property="organiztionStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    organization_id, organization_name, organization_number, organiztion_pid, organiztion_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from system_organiztion
    where organization_id = #{organizationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from system_organiztion
    where organization_id = #{organizationId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="organization_id" keyProperty="organizationId" parameterType="me.hibiki.system.domain.Organiztion" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into system_organiztion (organization_name, organization_number, 
      organiztion_pid, organiztion_status)
    values (#{organizationName,jdbcType=VARCHAR}, #{organizationNumber,jdbcType=VARCHAR}, 
      #{organiztionPid,jdbcType=INTEGER}, #{organiztionStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="organization_id" keyProperty="organizationId" parameterType="me.hibiki.system.domain.Organiztion" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into system_organiztion
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="organizationName != null and organizationName != ''">
        organization_name,
      </if>
      <if test="organizationNumber != null and organizationNumber != ''">
        organization_number,
      </if>
      <if test="organiztionPid != null">
        organiztion_pid,
      </if>
      <if test="organiztionStatus != null and organiztionStatus != ''">
        organiztion_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="organizationName != null and organizationName != ''">
        #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="organizationNumber != null and organizationNumber != ''">
        #{organizationNumber,jdbcType=VARCHAR},
      </if>
      <if test="organiztionPid != null">
        #{organiztionPid,jdbcType=INTEGER},
      </if>
      <if test="organiztionStatus != null and organiztionStatus != ''">
        #{organiztionStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.hibiki.system.domain.Organiztion">
    <!--@mbg.generated-->
    update system_organiztion
    <set>
      <if test="organizationName != null and organizationName != ''">
        organization_name = #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="organizationNumber != null and organizationNumber != ''">
        organization_number = #{organizationNumber,jdbcType=VARCHAR},
      </if>
      <if test="organiztionPid != null">
        organiztion_pid = #{organiztionPid,jdbcType=INTEGER},
      </if>
      <if test="organiztionStatus != null and organiztionStatus != ''">
        organiztion_status = #{organiztionStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where organization_id = #{organizationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.hibiki.system.domain.Organiztion">
    <!--@mbg.generated-->
    update system_organiztion
    set organization_name = #{organizationName,jdbcType=VARCHAR},
      organization_number = #{organizationNumber,jdbcType=VARCHAR},
      organiztion_pid = #{organiztionPid,jdbcType=INTEGER},
      organiztion_status = #{organiztionStatus,jdbcType=VARCHAR}
    where organization_id = #{organizationId,jdbcType=INTEGER}
  </update>
</mapper>