<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.hibiki.system.mapper.SystemRoleMapper">
    <resultMap id="BaseResultMap" type="me.hibiki.system.domain.SystemRole">
        <!--@mbg.generated-->
        <!--@Table system_role-->
        <id column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_default" jdbcType="INTEGER" property="roleDefault"/>
        <result column="role_status" jdbcType="INTEGER" property="roleStatus"/>
        <result column="role_description" jdbcType="VARCHAR" property="roleDescription"/>
        <result column="role_create_user_pid" jdbcType="INTEGER" property="roleCreateUserPid"/>
        <result column="role_create_date" jdbcType="TIMESTAMP" property="roleCreateDate"/>
        <result column="role_edit_user_pid" jdbcType="INTEGER" property="roleEditUserPid"/>
        <result column="role_edit_date" jdbcType="TIMESTAMP" property="roleEditDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        role_id, role_name, role_default, role_status, role_description, role_create_user_pid,
        role_create_date, role_edit_user_pid, role_edit_date
    </sql>
    <select id="getSystemRoleById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
    select
        <include refid="Base_Column_List"/>
    from system_role
    where role_id = #{roleId,jdbcType=INTEGER}
    </select>
    <delete id="deleteSystemRoleById" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
    delete from system_role
    where role_id = #{roleId,jdbcType=INTEGER}
    </delete>
    <insert id="insertSystemRole" keyColumn="role_id" keyProperty="roleId"
            parameterType="me.hibiki.system.domain.SystemRole" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into system_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleName != null and roleName != ''">
                role_name,
            </if>
            <if test="roleDefault != null">
                role_default,
            </if>
            <if test="roleStatus != null">
                role_status,
            </if>
            <if test="roleDescription != null and roleDescription != ''">
                role_description,
            </if>
            <if test="roleCreateUserPid != null">
                role_create_user_pid,
            </if>
            <if test="roleCreateDate != null">
                role_create_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleName != null and roleName != ''">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleDefault != null">
                #{roleDefault,jdbcType=INTEGER},
            </if>
            <if test="roleStatus != null">
                #{roleStatus,jdbcType=INTEGER},
            </if>
            <if test="roleDescription != null and roleDescription != ''">
                #{roleDescription,jdbcType=VARCHAR},
            </if>
            <if test="roleCreateUserPid != null">
                #{roleCreateUserPid,jdbcType=INTEGER},
            </if>
            <if test="roleCreateDate != null">
                #{roleCreateDate,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>
    <update id="updateSystemRoleById" parameterType="me.hibiki.system.domain.SystemRole">
        update system_role
        <set>
            <if test="roleName != null and roleName != ''">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleDefault != null">
                role_default = #{roleDefault,jdbcType=INTEGER},
            </if>
            <if test="roleStatus != null">
                role_status = #{roleStatus,jdbcType=INTEGER},
            </if>
            <if test="roleDescription != null and roleDescription != ''">
                role_description = #{roleDescription,jdbcType=VARCHAR},
            </if>
            <if test="roleEditUserPid != null">
                role_edit_user_pid = #{roleEditUserPid,jdbcType=INTEGER},
            </if>
            <if test="roleEditDate != null">
                role_edit_date = #{roleEditDate,jdbcType=TIMESTAMP},
            </if>
        </set>
                where role_id = #{roleId,jdbcType=INTEGER}
    </update>
    <select id="listSystemRoles" resultMap="BaseResultMap" parameterType="me.hibiki.system.domain.SystemRole">
        select * from system_role
        <where>
            <if test="roleName != null and roleName != ''">
                <bind name="myRoleName" value="'%' + _parameter.roleName + '%'"/>
                role_name like #{myRoleName}
            </if>
            <if test="roleStatus != null">
            and role_status = #{roleStatus}
            </if>
        </where>
    </select>

</mapper>